{{- if not .Values.secrets.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kodecd.fullname" . }}-secret
  labels:
    {{- include "kodecd.labels" . | nindent 4 }}
type: Opaque
data:
  secret-key-base: {{ .Values.secrets.secretKeyBase | b64enc | quote }}
  runner-token: {{ .Values.secrets.runnerToken | b64enc | quote }}
  database-url: {{ include "kodecd.databaseUrl" . | b64enc | quote }}
  redis-url: {{ include "kodecd.redisUrl" . | b64enc | quote }}
  {{- if .Values.config.smtp.enabled }}
  smtp-password: {{ .Values.config.smtp.password | b64enc | quote }}
  {{- end }}
{{- end }}
