---
- name: Create systemd service for KodeCD Web
  template:
    src: "{{ kodecd_install_dir }}/assembly_line/templates/systemd/kodecd-web.service.j2"
    dest: /etc/systemd/system/kodecd-web.service
    owner: root
    group: root
    mode: '0644'

- name: Create systemd service for KodeCD Sidekiq
  template:
    src: "{{ kodecd_install_dir }}/assembly_line/templates/systemd/kodecd-sidekiq.service.j2"
    dest: /etc/systemd/system/kodecd-sidekiq.service
    owner: root
    group: root
    mode: '0644'

- name: Create systemd service for KodeCD Runner
  template:
    src: "{{ kodecd_install_dir }}/assembly_line/templates/systemd/kodecd-runner.service.j2"
    dest: /etc/systemd/system/kodecd-runner.service
    owner: root
    group: root
    mode: '0644'

- name: Reload systemd daemon
  systemd:
    daemon_reload: yes
